
.notifications {
  position: fixed; /* para que se mantenga fijo en la pantalla*/
  top: 20px; /* ajustar la posición verticalmente*/
  right: 20px; /* ajustar la posición horizontalmente*/
  background-color: #f9f9f9; /* color de fondo*/
  padding: 10px;
  border: 1px solid #ccc;
}
.notifications ul {
    list-style-type: none; /* quitar los puntos de la lista*/
    padding: 0;
    margin: 0;
  }
  
  .notifications li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc; /* separar las notificaciones con una línea*/
  }
  
  .notifications li:last-child {
    border-bottom: none; /* quitar la línea a la última notificación*/
  }
  .notifications:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.3); /* agregar una sombra cuando se pasa el cursor por encima*/
  }
  
  .notifications li:hover {
    background-color: #f5f5f5; /* cambiar el color de fondo de la notificación cuando se pasa el cursor por encima*/
  }